body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    text-align: center;
}

.title {
    margin-top: 20px;
    animation: fadeDown 1s ease-in-out;
}

button {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    background: #0ea5e9;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Card UI */
.card {
    background: #1e293b;
    padding: 15px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    animation: fadeUp 0.5s ease-in-out;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

pre {
    text-align: left;
    font-size: 12px;
    background: #0f172a;
    padding: 10px;
    border-radius: 8px;
    overflow-x: auto;
}

@keyframes fadeUp {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}

@keyframes fadeDown {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0);}
}